
@import "http://cdn.mallmaverick.com/system/site_images/photos/000/003/934/original/foundation.min.css?1410468064";
@import "http://cdn.mallmaverick.com/system/site_images/photos/000/004/024/original/slick.css?1410970514";

@font-face {
  font-family: "MillerBanner-SemiBold";
  src: url(//codecloud.cdn.speedyrails.net/sites/545bdd066e6f645bae000000//1478550907000/MillerBanner-Semibold.otf) format("opentype");
}

@font-face {
  font-family: "MillerBanner-SemiBoldItalic";
  src: url(//codecloud.cdn.speedyrails.net/sites/545bdd066e6f645bae000000//1478550907000/MillerBanner-SemiboldItalic.otf) format("opentype");
}

@font-face {
  font-family: "MinionPro-Regular";
  src: url(codecloud.cdn.speedyrails.net/sites/545bdd066e6f645bae000000//1478214195000/MinionPro-Regular.otf) format("opentype");
}
@font-face {
        font-family: "Whitney-Medium";
        src: url('//codecloud.cdn.speedyrails.net/sites/545bdd066e6f645bae000000//1419713276000/Whitney Medium.ttf') format('truetype');
    }
    @font-face {
        font-family: "Whitney-Bold";
        src: url('//codecloud.cdn.speedyrails.net/sites/545bdd066e6f645bae000000//1419713276000/Whitney Bold.ttf') format('truetype');
    }
section:target {
    margin-top: -5.63em;
    padding-top: 5.63em;
}
section#giftcard:target {
    margin-top: 0;
    padding-top: 0;
}
section#hours:target {
    margin-top: 0;
}
h1 {
    line-height: 1.2;
}
.slick-loading .slick-list {
    background: url("http://cdn.mallmaverick.com/system/site_images/photos/000/004/025/original/ajax-loader.gif?1410970804") no-repeat scroll center center white;
}
.slick-loading .slick-slide {
    display: none;
}
#style .flex-direction-nav .flex-next {
    background: url("http://cdn.mallmaverick.com/system/site_images/photos/000/004/993/original/arrow_right_pink_small.png?1412106248") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
#style .flex-direction-nav .flex-prev {
    background: url("http://cdn.mallmaverick.com/system/site_images/photos/000/004/992/original/arrow_left_pink_small.png?1412106230") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.bannner img {
    border: medium none;
    border-radius: 0;
    box-shadow: none;
}
img {
    max-height: initial;
}
.marker {
    background: url("http://cdn.mallmaverick.com/system/sites/map_markers/000/000/010/original/som_map_pin.png?1412099583") no-repeat scroll center center rgba(0, 0, 0, 0);
    height: 99px;
    width: 56px;
}
.popup {
    border-radius: 0;
    box-shadow: none;
    font-family: WhitneyHTF-Book;
    margin-top: 25px;
}
a:link, a:visited {
    color: #76787b;
}
a[href^="tel"] {
    color: inherit;
    text-decoration: none;
}
li {
    line-height: inherit;
}
.blue {
    color: #00aeef !important;
}
.pink {
    color: #ed1c91;
}
.gray {
    color: #9b9b9b;
}
.white {
    color: #ffffff;
}
.yellow {
    color: #ffea00;
}
.chronicle {
    font-family: ChronicleDeck-Roman;
}
.chronicle-display-italic {
    font-family: ChronicleDisplay-Italic;
}
.chronicle-deck-bold {
    font-family: ChronicleDeck-Bold;
}
.chronicle-deck-italic {
    font-family: ChronicleDeck-Italic;
}
.whitney {
    font-family: WhitneyHTF-Book;
}
.whitney-medium {
    font-family: WhitneyHTF-Medium;
}
.whitney-italic {
    font-family: WhitneyHTF-BookItalic;
}
.bg-blue {
    background: none repeat scroll 0 0 #00aeef;
}
.steelfish {
    font-family: Steelfish;
}
.sc-link {
    color: #76787b;
    font-family: WhitneyHTF-Book;
    font-size: 1.334em;
    letter-spacing: 1px;
}
@font-face {
    font-family: "Steelfish";
    src: url("http://cdn.mallmaverick.com/system/site_images/photos/000/003/831/original/steelfish.ttf?1410202099");
}
@font-face {
    font-family: "Whitney-Light";
    src: url("http://cdn.mallmaverick.com/system/site_images/photos/000/003/832/original/Whitney_Light.ttf?1410202127");
}
@font-face {
    font-family: "ChronicleDeck-Roman";
    src: url("http://cdn.mallmaverick.com/system/site_images/photos/000/003/833/original/ChronicleDeck-Roman.otf?1410202153");
}
@font-face {
    font-family: "ChronicleDeck-Bold";
    src: url("http://cdn.mallmaverick.com/system/site_images/photos/000/005/035/original/ChronicleDeck-Bold.otf?1412328993");
}
@font-face {
    font-family: "WhitneyHTF-Book";
    src: url("http://cdn.mallmaverick.com/system/site_images/photos/000/005/036/original/WhitneyHTF-Book.ttf?1412331020");
}
@font-face {
    font-family: "WhitneyHTF-Medium";
    src: url("http://cdn.mallmaverick.com/system/site_images/photos/000/005/037/original/WhitneyHTF_Medium.ttf?1412332084");
}
@font-face {
    font-family: "Knockout";
    src: url("http://cdn.mallmaverick.com/system/site_images/photos/000/005/038/original/knockout-htf26.ttf?1412332386");
}
@font-face {
    font-family: "ChronicleDisplay-Roman";
    src: url("http://cdn.mallmaverick.com/system/site_images/photos/000/005/033/original/ChronicleDisp-Roman.otf?1412328195");
}
@font-face {
    font-family: "ChronicleDisplay-Italic";
    src: url("http://cdn.mallmaverick.com/system/site_images/photos/000/005/034/original/ChronicleDisp-Italic.otf?1412328241");
}
@font-face {
    font-family: "WhitneyHTF-BookItalic";
    src: url("http://cdn.mallmaverick.com/system/site_images/photos/000/005/077/original/WhitneyHTF-BookItalic.ttf?1412617140");
}
.main_content, footer {
    position: relative;
    z-index: 2;
}
header {
    position: relative;
    z-index: 3;
}
.main_content {
    background: none repeat scroll 0 0 white;
}
.wrap-90 {
    height: 100%;
    margin: 0 auto;
    width: 90%;
}
.wrap-90-alt {
    margin: 0 auto;
    width: 90%;
}
input:-moz-placeholder {
    font-family: "WhitneyHTF-Book",Arial,Helvetica,sans-serif;
    letter-spacing: 0.5px;
}
input::-moz-placeholder {
    font-family: "WhitneyHTF-Book",Arial,Helvetica,sans-serif;
    letter-spacing: 0.5px;
}
.row {
    max-width: 100%;
}
h1 {
    font-family: ChronicleDisplay-Roman;
}
p {
    font-size: 1.33833em;
}
[data-magellan-expedition], [data-magellan-expedition-clone] {
    padding: 0;
}
.hidden {
    display: none;
    visibility: visible;
}
.table-cell {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}
.table {
    display: table;
}
.white_divider {
    background-image: url("http://cdn.mallmaverick.com/system/site_images/photos/000/003/834/original/line_dotted_white.png?1410202196");
    background-repeat: repeat-x;
    height: 3px;
    width: 100%;
}
.lowercase {
    text-transform: lowercase;
}
.uppercase {
    text-transform: uppercase;
}
.info-arrow {
    background-image: url("http://cdn.mallmaverick.com/system/site_images/photos/000/003/862/original/icon_arrow.png?1410204101");
    background-repeat: no-repeat;
    height: 14px;
    width: 28px;
}
.info-arrow.expanded {
    background-image: url("http://cdn.mallmaverick.com/system/site_images/photos/000/003/864/original/icon_arrow_up.png?1410204191");
    background-repeat: no-repeat;
}
.privacy-content p, h2 {
    font-family: WhitneyHTF-Book;
    line-height: 1.68;
    margin: 2.25em auto 15px;
    max-width: 650px;
}
.privacy-ul {
    margin: 0 auto;
    text-align: left;
    width: 43%;
}
.privacy-content li {
    font-size: 19px !important;
}
.privacy-content ul {
    font-family: WhitneyHTF-Book;
    font-size: 14px !important;
    line-height: 1.48;
    list-style-position: inside;
}
.kid_info-arrow {
    background-image: url("http://cdn.mallmaverick.com/system/site_images/photos/000/003/862/original/icon_arrow.png?1410204101");
    background-repeat: no-repeat;
    height: 14px;
    width: 28px;
}
.kid_more_box {
    border: 1px solid #ccc;
    cursor: pointer;
    display: inline-flex;
    height: 50px;
    padding-left: 10px;
    padding-top: 5px;
}
.kid_info-arrow.expanded {
    background-image: url("http://cdn.mallmaverick.com/system/site_images/photos/000/003/864/original/icon_arrow_up.png?1410204191");
    background-repeat: no-repeat;
}
.kid_more_box .left-div {
}
.kid_more_box .right-div {
    padding: 10px;
}
.search_bg {
    background-color: rgb(0, 174, 239);
}
.search_results {
    font-family: WhitneyHTF-Book,Arial,Helvetica,sans-serif;
    margin-bottom: 10px;
    text-align: left;
}
.search_results h5 {
    font-family: WhitneyHTF-Book,Arial,Helvetica,sans-serif;
    font-size: 1.3em;
    margin-bottom: 0;
}
.rent-box {
    border-bottom: 2px solid #00aeef;
    border-top: 2px solid #00aeef;
    margin: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    transform-style: preserve-3d;
    width: 51%;
}
.kids_club {
    margin: auto;
    text-align: center;
    width: 600px;
}
.kid_desc_box {
    display: inline-block;
    height: 100%;
    margin: 0 auto;
}
.kids_desc {
    height: 330px;
}
.kids_desc a {
    color: #00aeef;
}
.kids_desc {
    margin-top: 15px;
}
.kids_desc_img {
    margin-top: 20px;
}
.kids_desc_boxes {
    margin-bottom: 25px;
    margin-top: 50px;
    width: 385px;
}
.rent-box p {
    font-family: WhitneyHTF-Book;
    font-size: 1rem;
    margin-bottom: 4px;
}
.table-border {
    border: 2px solid rgb(0, 174, 239);
    height: 562px;
    margin: 0 auto;
    max-width: 1030px;
    overflow: auto;
    position: relative;
    width: 89%;
}
.list-cell {
    height: 80px;
    width: 100%;
}
.list-cell h1 {
    font-size: 3.6em;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
    text-transform: uppercase;
    top: 50%;
    transform: translateY(-50%);
    white-space: nowrap;
}
.generic-list {
    margin: 0;
    max-height: 100%;
}
.generic-list > li {
    list-style: none outside none;
    width: 100%;
}
.generic-list.nested > li {
    border-bottom: 1px dotted;
}
.generic-list label {
    cursor: pointer;
    display: block;
    margin-top: 0;
}
.generic-list label:hover {
    background-image: url("http://cdn.mallmaverick.com/system/site_images/photos/000/003/900/original/cell_selected_bg_plus.png?1410401936");
    background-repeat: no-repeat;
    background-size: 100% 80px;
    color: white;
}
.generic-list label > div {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.generic-list input + label {
    margin: 0;
}
.generic-list .list-expandable-content-container {
    height: 0;
    margin-top: -7px;
    overflow: hidden;
    transition: all 0.3s ease-in-out 0s;
}
.generic-list input:checked ~ .list-expandable-content-container {
    height: auto;
    overflow: hidden;
    transition: all 0.2s ease-in-out 0s;
}
.generic-list input:checked + label, .generic-list input:checked + label:hover {
    background-image: url("http://cdn.mallmaverick.com/system/site_images/photos/000/003/901/original/cell_selected_bg_minus.png?1410401949");
    background-repeat: no-repeat;
    background-size: 100% 80px;
    color: white;
}
.generic-list .list-title {
    float: left;
    font-family: ChronicleDeck-Roman;
    padding-left: 1em;
    text-align: left;
    width: 70%;
}
.generic-list .list-title p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    width: 100%;
}
.generic-list.nested .list-title {
    font-family: WhitneyHTF-Book;
}
.generic-list .list-title p:first-child {
    color: black;
    font-size: 2.3125rem;
    white-space: nowrap;
}
.generic-list .list-title p {
    margin-bottom: 0;
}
.list-title .mobile-subtitle {
    display: none;
    font-family: WhitneyHTF-Book;
}
.generic-list .list-subtitle p {
    color: black;
    margin-bottom: 0;
}
.generic-list input:checked + label .list-title p {
    color: white;
}
.generic-list input:checked + label .list-subtitle p {
    color: white;
}
.generic-list label:hover .list-title p {
    color: white;
}
.generic-list label:hover .list-subtitle p {
    color: white;
}
.generic-list .list-subtitle {
    float: left;
    font-family: ChronicleDeck-Roman;
    width: 20%;
}
.generic-list .list-expandable-content-container {
    background: none repeat scroll 0 0 white;
}
.generic-list .list-expandable-content {
    color: black;
    font-family: WhitneyHTF-Book;
    margin: 0 auto;
    padding-bottom: 2em;
    padding-top: 2em;
    text-align: left;
    width: 90%;
}
.generic-list .list-expandable-content.sublist {
    padding: 0;
    width: 100%;
}
.generic-list > li.store-list-item-odd {
    background: none repeat scroll 0 0 #e0e0e0;
}
.generic-list.nested > li:nth-of-type(2n+1) {
    background: none repeat scroll 0 0 white;
}
.generic-list.directory > li {
    background: none repeat scroll 0 0 #e0e0e0;
    border-bottom: 1px dotted white;
}
.generic-list input {
    display: none;
    margin: 0;
    padding: 0;
}
.generic-list .list-expand-collapse-icon {
    background-image: url("http://cdn.mallmaverick.com/system/site_images/photos/000/003/898/original/plus_sign.png?1410401860");
    background-position: center center;
    background-repeat: no-repeat;
    display: none;
    float: left;
    height: 26px;
    width: 20%;
}
.generic-list input:checked + label .list-expand-collapse-icon {
    background-image: url("http://cdn.mallmaverick.com/system/site_images/photos/000/003/899/original/minus_sign.png?1410401894");
    background-position: center center;
    background-repeat: no-repeat;
}
.segmented-control {
    display: inline-block;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.segmented-control.alt {
    margin-bottom: 1.25rem;
    top: 0;
    transform: none;
}
.segmented-control .option {
    float: left;
}
.segmented-control .option input {
    display: none;
    margin: 0;
}
.segmented-control .option input + label {
    color: #53565a;
    margin: 0;
}
.segmented-control .option input:checked + label {
    color: white;
}
.segmented-control .option label {
    font-size: 2rem;
    margin-top: 0;
}
.segmented-control.alt .option label {
    font-size: 1.334em;
    letter-spacing: 1px;
}
.segmented-control.alt .option input:checked + label {
    color: #00aeef;
}
.bannner {
    overflow: hidden;
}
.bannner.is-sticky {
    visibility: hidden;
}
.image img {
    height: auto;
    max-height: initial;
    width: 100%;
}
.top-bar {
    overflow: visible;
}
.fixed {
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    top: 50px;
}
.header_wrap {
    height: 100%;
    margin-top: -85px;
    opacity: 0.92;
    position: relative;
    width: 100%;
    z-index: 2;
}
.header_wrap.is-sticky {
    opacity: 1;
}
.header_wrap.alt {
    margin-top: 85px;
    opacity: 1;
}
.top_menu, .search_bar {
    background-color: white;
    min-height: 50px;
    width: 100%;
}
.search_bar .row {
    margin: 0 auto;
    max-width: 100%;
}
.search_bar_wrap {
    margin: 0 auto;
    width: 97%;
}
#search_form input {
    margin: 0.4rem 0 0;
}
.top_menu ul {
    line-height: 0;
    margin: 0 auto;
    text-align: center;
}
.top_menu ul li {
    display: inline-block;
    list-style: none outside none;
    margin: 0 1.2em;
    min-height: 50px;
    vertical-align: baseline;
}
.site_map_cell {
    display: table-cell;
    height: 50px;
    vertical-align: middle;
}
.site_map_cell span {
    color: #05afe9;
    opacity: 0;
}
.site_map_cell:hover span, .site_map_cell.cell_active span {
    opacity: 1;
}
.top_menu ul li a {
    color: black;
    font-family: WhitneyHTF-Book;
    text-decoration: none;
}
.top_menu ul li a.nav-active {
    color: #00aeef;
}
.search_icon {
    cursor: pointer;
    height: 100%;
}
.mobile_topbar {
    display: none;
    height: 50px;
    width: 100%;
}
.mobile_topbar a {
    display: block;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.mobile_topbar div > img {
    display: block;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.mobile_topbar .columns {
    height: 100%;
}
.mobile_menu_btn {
    height: 100%;
}
.mobile_menu_btn img {
    height: 25px;
    width: 45px;
}
.contain-to-grid {
    background-color: rgb(222, 222, 222);
}
.site_map_cell.mobile {
    display: none;
}
.site_menu .white_divider {
    display: none;
}
.site_menu .hours_divider {
    display: none;
    padding: 0;
}
.upper-links {
    height: 50px;
    position: fixed;
    top: 0;
    transition: all 0.2s linear 0s;
    width: 100%;
    z-index: 3;
}
.upper-links.is-sticky {
    background: none repeat scroll 0 0 white;
}
.upper-links > ul {
    line-height: 0;
    margin: 0 auto;
    text-align: right;
}
.upper-links ul li {
    display: inline-block;
    list-style: none outside none;
    margin: 0 1em;
    min-height: 50px;
    overflow: hidden;
    vertical-align: baseline;
}
.upper-links ul li:last-child {
    margin-right: 2em;
}
.upper-links ul li a {
    color: white;
    font-family: WhitneyHTF-Book;
    text-decoration: none;
}
.upper-links.is-sticky ul li a {
    color: black;
    font-family: WhitneyHTF-Book;
    text-decoration: none;
}
.rotated_text {
    display: inline-block;
    height: 30px;
    margin-left: 1em;
    padding-left: 4em;
    position: relative;
    transform: rotate(-90deg);
    transform-origin: left top 0;
    z-index: 4;
}
.rotated_text .social-links {
    display: inline-block;
    float: left;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.rotated_text img {
    display: block;
    float: left;
    height: auto;
    margin: 0 0.2em;
    transform: rotate(90deg);
    width: 22px;
}
.rotated_text > h4 {
    color: white;
    display: block;
    float: left;
    font-family: ChronicleDeck-Roman;
    font-size: 1.3rem;
    margin: 0 auto;
    padding-left: 1em;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.top_menu ul li.upper-links-mobile {
    display: none;
}
section {
    border-bottom: 0.07rem solid rgb(222, 222, 222);
    color: black;
    display: table;
    height: 100%;
    width: 100%;
}
.section_content {
    display: table-cell;
    padding-bottom: 5.63em;
    padding-top: 5.63em;
    position: relative;
    text-align: center;
    vertical-align: middle;
}
.hours_divider {
    background-image: url("http://cdn.mallmaverick.com/system/site_images/photos/000/003/835/original/line_dotted_gray.png?1410202262");
    background-position: center center;
    background-repeat: no-repeat;
    height: 3px;
    margin: 0 auto;
    max-width: 487px;
    padding: 2.188em;
}
.hours .section_content p {
    font-family: ChronicleDeck-Roman;
    margin-bottom: 0;
}
.category_icon_list {
    max-width: 600px;
}
.category_icon_list .slick-prev {
    background: url("http://cdn.mallmaverick.com/system/site_images/photos/000/003/860/original/icon_bluearrow_left.png?1410204029") no-repeat scroll center center rgba(0, 0, 0, 0);
    height: 80px;
    left: -80px;
    margin-top: 0;
    top: 0;
    width: 80px;
}
.category_icon_list .slick-prev:hover {
    background: url("http://cdn.mallmaverick.com/system/site_images/photos/000/003/860/original/icon_bluearrow_left.png?1410204029") no-repeat scroll center center rgba(0, 0, 0, 0);
}
.category_icon_list .slick-prev:focus {
    background: url("http://cdn.mallmaverick.com/system/site_images/photos/000/003/860/original/icon_bluearrow_left.png?1410204029") no-repeat scroll center center rgba(0, 0, 0, 0);
}
.category_icon_list .slick-next {
    background: url("http://cdn.mallmaverick.com/system/site_images/photos/000/003/861/original/icon_bluearrow_right.png?1410204061") no-repeat scroll center center rgba(0, 0, 0, 0);
    height: 80px;
    margin-top: 0;
    right: -80px;
    top: 0;
    width: 80px;
}
.category_icon_list .slick-next:hover {
    background: url("http://cdn.mallmaverick.com/system/site_images/photos/000/003/861/original/icon_bluearrow_right.png?1410204061") no-repeat scroll center center rgba(0, 0, 0, 0);
}
.category_icon_list .slick-next:focus {
    background: url("http://cdn.mallmaverick.com/system/site_images/photos/000/003/861/original/icon_bluearrow_right.png?1410204061") no-repeat scroll center center rgba(0, 0, 0, 0);
}
.category_icon_list ul {
    margin-left: 0;
    text-align: center;
}
.category_icon_list ul li {
    display: inline-block;
    list-style: none outside none;
    opacity: 0.4;
    overflow: hidden;
    vertical-align: baseline;
}
.category_icon_list li a {
    display: inline-block;
    height: 80px;
    text-decoration: none;
    text-indent: -9999px;
    width: 80px;
}
.category_icon_list li.slick-center {
    opacity: 1;
}
.category_icon_list li a.cat-2147 {
    background: url("http://cdn.mallmaverick.com/system/site_images/photos/000/004/097/original/btn_atm.png?1411406934") no-repeat scroll 0 0 / contain rgba(0, 0, 0, 0);
}
.category_icon_list li a.cat-2148 {
    background: url("http://cdn.mallmaverick.com/system/site_images/photos/000/004/118/original/btn_play.png?1411407353") no-repeat scroll 0 0 / contain rgba(0, 0, 0, 0);
}
.category_icon_list li a.cat-596 {
    background: url("http://cdn.mallmaverick.com/system/site_images/photos/000/004/112/original/btn_kids.png?1411407266") no-repeat scroll 0 0 / contain rgba(0, 0, 0, 0);
}
.category_icon_list li a.cat-599 {
    background: url("http://cdn.mallmaverick.com/system/site_images/photos/000/004/107/original/btn_dentist.png?1411407151") no-repeat scroll 0 0 / contain rgba(0, 0, 0, 0);
}
.category_icon_list li a.cat-2149 {
    background: url("http://cdn.mallmaverick.com/system/site_images/photos/000/004/125/original/btn_stores.png?1411407462") no-repeat scroll 0 0 / contain rgba(0, 0, 0, 0);
}
.category_icon_list li a.cat-2150 {
    background: url("http://cdn.mallmaverick.com/system/site_images/photos/000/004/117/original/btn_medicine.png?1411407342") no-repeat scroll 0 0 / contain rgba(0, 0, 0, 0);
}
.category_icon_list li a.cat-2151 {
    background: url("http://cdn.mallmaverick.com/system/site_images/photos/000/004/102/original/btn_camera.png?1411407007") no-repeat scroll 0 0 / contain rgba(0, 0, 0, 0);
}
.category_icon_list li a.cat-2152 {
    background: url("http://cdn.mallmaverick.com/system/site_images/photos/000/004/111/original/btn_glass.png?1411407244") no-repeat scroll 0 0 / contain rgba(0, 0, 0, 0);
}
.category_icon_list li a.cat-2153 {
    background: url("http://cdn.mallmaverick.com/system/site_images/photos/000/004/099/original/btn_bag.png?1411406968") no-repeat scroll 0 0 / contain rgba(0, 0, 0, 0);
}
.category_icon_list li a.cat-649 {
    background: url("http://cdn.mallmaverick.com/system/site_images/photos/000/004/108/original/btn_food.png?1411407184") no-repeat scroll 0 0 / contain rgba(0, 0, 0, 0);
}
.category_icon_list li a.cat-611 {
    background: url("http://cdn.mallmaverick.com/system/site_images/photos/000/004/122/original/btn_shoes.png?1411407403") no-repeat scroll 0 0 / contain rgba(0, 0, 0, 0);
}
.category_icon_list li a.cat-650 {
    background: url("http://cdn.mallmaverick.com/system/site_images/photos/000/004/126/original/btn_stroller.png?1411407483") no-repeat scroll 0 0 / contain rgba(0, 0, 0, 0);
}
.category_icon_list li a.cat-2154 {
    background: url("http://cdn.mallmaverick.com/system/site_images/photos/000/004/100/original/btn_basket.png?1411406983") no-repeat scroll 0 0 / contain rgba(0, 0, 0, 0);
}
.category_icon_list li a.cat-2155 {
    background: url("http://cdn.mallmaverick.com/system/site_images/photos/000/004/106/original/btn_cosmetic.png?1411407076") no-repeat scroll 0 0 / contain rgba(0, 0, 0, 0);
}
.category_icon_list li a.cat-651 {
    background: url("http://cdn.mallmaverick.com/system/site_images/photos/000/004/106/original/btn_cosmetic.png?1411407076") no-repeat scroll 0 0 / contain rgba(0, 0, 0, 0);
}
.category_icon_list li a.cat-2156 {
    background: url("http://cdn.mallmaverick.com/system/site_images/photos/000/004/123/original/btn_sofa.png?1411407426") no-repeat scroll 0 0 / contain rgba(0, 0, 0, 0);
}
.category_icon_list li a.cat-619 {
    background: url("http://cdn.mallmaverick.com/system/site_images/photos/000/004/119/original/btn_ring.png?1411407370") no-repeat scroll 0 0 / contain rgba(0, 0, 0, 0);
}
.category_icon_list li a.cat-627 {
    background: url("http://cdn.mallmaverick.com/system/site_images/photos/000/004/116/original/btn_medic.png?1411407322") no-repeat scroll 0 0 / contain rgba(0, 0, 0, 0);
}
.category_icon_list li a.cat-622 {
    background: url("http://cdn.mallmaverick.com/system/site_images/photos/000/004/128/original/btn_tie.png?1411407517") no-repeat scroll 0 0 / contain rgba(0, 0, 0, 0);
}
.category_icon_list li a.cat-660 {
    background: url("http://cdn.mallmaverick.com/system/site_images/photos/000/004/104/original/btn_chat.png?1411407034") no-repeat scroll 0 0 / contain rgba(0, 0, 0, 0);
}
.category_icon_list li a.cat-634 {
    background: url("http://cdn.mallmaverick.com/system/site_images/photos/000/004/109/original/btn_food2.png?1411407202") no-repeat scroll 0 0 / contain rgba(0, 0, 0, 0);
}
.category_icon_list li a.cat-2161 {
    background: url("http://cdn.mallmaverick.com/system/site_images/photos/000/004/096/original/btn_apple.png?1411406918") no-repeat scroll 0 0 / contain rgba(0, 0, 0, 0);
}
.category_icon_list li a.cat-2163 {
    background: url("http://cdn.mallmaverick.com/system/site_images/photos/000/004/124/original/btn_store.png?1411407442") no-repeat scroll 0 0 / contain rgba(0, 0, 0, 0);
}
.category_icon_list li a.cat-640 {
    background: url("http://cdn.mallmaverick.com/system/site_images/photos/000/004/129/original/btn_toy.png?1411407544") no-repeat scroll 0 0 / contain rgba(0, 0, 0, 0);
}
.category_icon_list li a.cat-2164 {
    background: url("http://cdn.mallmaverick.com/system/site_images/photos/000/004/113/original/btn_luggage.png?1411407283") no-repeat scroll 0 0 / contain rgba(0, 0, 0, 0);
}
.category_icon_list li a.cat-2160 {
    background: url("http://cdn.mallmaverick.com/system/site_images/photos/000/004/120/original/btn_shirt.png?1411407388") no-repeat scroll 0 0 / contain rgba(0, 0, 0, 0);
}
.category_icon_list li a.cat-2159 {
    background: url("http://cdn.mallmaverick.com/system/site_images/photos/000/004/120/original/btn_shirt.png?1411407388") no-repeat scroll 0 0 / contain rgba(0, 0, 0, 0);
}
.category_icon_list li a.cat-2158 {
    background: url("http://cdn.mallmaverick.com/system/site_images/photos/000/004/127/original/btn_tag.png?1411407498") no-repeat scroll 0 0 / contain rgba(0, 0, 0, 0);
}
.category_icon_list li a.cat-2157 {
    background: url("http://cdn.mallmaverick.com/system/site_images/photos/000/004/127/original/btn_tag.png?1411407498") no-repeat scroll 0 0 / contain rgba(0, 0, 0, 0);
}
.category_icon_list li a.cat-2162 {
    background: url("http://cdn.mallmaverick.com/system/site_images/photos/000/004/096/original/btn_apple.png?1411406918") no-repeat scroll 0 0 / contain rgba(0, 0, 0, 0);
}
.cat_arrow {
    cursor: pointer;
    height: 58px;
    margin-top: 13px;
    width: 30px;
}
.cat_left_arrow {
    margin-right: 10px;
}
.cat_right_arrow {
    margin-left: 0;
}
.category_blue_box {
    border: 1px solid rgb(0, 174, 239);
    height: 562px;
    margin: 0 auto;
    overflow: auto;
    width: 90%;
}
.category_active {
    opacity: 1 !important;
}
.store_cell {
    height: 80px;
    width: 100%;
}
.store_cell h1 {
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.categories_list {
    margin: 0;
    max-height: 100%;
}
.categories_list li {
    display: table;
    list-style: none outside none;
    table-layout: fixed;
}
.categories_list .store_name {
    display: table-cell;
    overflow: hidden;
    padding-left: 1em;
    text-align: left;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
    width: 70%;
}
.categories_list .store_name a {
    color: black;
    font-size: 2.3125rem;
}
.categories_list .store_phone {
    display: table-cell;
    vertical-align: middle;
    width: 30%;
}
.categories_list .store_phone p {
    margin-bottom: 0;
}
.categories_list li:nth-of-type(2n+1) {
    background: none repeat scroll 0 0 #e0e0e0;
}
.store_directory_mobile {
    display: none;
}
.category_icon_list {
    display: block;
    margin: 0 auto;
    position: relative;
}
.category_viewbox {
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    width: 635px;
}
.category-container {
    margin: 0;
    text-align: left;
    width: 1000%;
}
.carousel-object {
    display: inline-block;
    float: left;
    list-style: none outside none;
    margin-left: 0;
    margin-right: 20px;
    position: relative;
    vertical-align: top;
    width: 165px;
}
.carousel-object-image {
    border: 1px solid #b5b0a6;
    height: 128px;
    padding: 2px;
    width: 95%;
}
.carousel-object-title {
    color: #ff6875;
    font-size: 16px !important;
    line-height: 19px !important;
    min-height: 40px;
    padding-top: 5px;
}
.carousel-object-footer {
    color: #6b6c70;
    display: inline;
    font-size: 10px !important;
}
.section_content .promo_content {
    display: inline-block;
    height: 100%;
    margin: 0 auto;
    padding-top: 3.56em;
}
.promo_content .columns, .amenities .columns {
    padding-left: 2.8125rem;
    padding-right: 2.8125rem;
}
.promo_list {
    margin: 0;
    min-height: 404px;
}
.promo_list > ul {
    -moz-column-count: 2;
    height: 404px;
}
.promo_box {
    border-bottom: 2px solid #00aeef;
    height: 262px;
    max-width: 385px;
    overflow: hidden;
    text-overflow: ellipsis;
    transform-style: preserve-3d;
}
.promo_box:first-child {
    border-top: 2px solid #00aeef;
}
.promo_cell {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}
.promo_cell h3 {
    font-family: ChronicleDeck-Roman;
    font-size: 2em;
}
.promo_cell p {
    font-family: WhitneyHTF-Book;
    font-size: 2em;
    margin-bottom: 0;
}
.promo_description {
    height: 75px;
    overflow: hidden;
}
.promo_description p {
    font-family: WhitneyHTF-Book;
    font-size: 1.33833em;
    margin-bottom: 0;
}
.promo_description a:link {
    color: rgb(0, 174, 239);
    font-family: WhitneyHTF-Book;
    text-decoration: none;
}
.promo_cell.bottom {
    border-top: medium none;
}
.promo_list li p {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.more_content {
    display: none;
}
.more_promos_button {
    position: relative;
}
.strikeout_line {
    background-color: #e0e0e1;
    height: 1px;
    position: absolute;
    top: 23.5px;
    width: 100%;
}
.more_box {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #ccc;
    bottom: 0;
    cursor: pointer;
    height: 55px;
    left: 0;
    margin: 0 auto -27.5px;
    padding: 0;
    position: absolute;
    right: 0;
    width: 290px;
    z-index: 1;
}
.more_box > div p {
    font-family: WhitneyHTF-Book;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.more_box > div div {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.more_box .left-div {
    float: left;
    height: 100%;
    width: 85%;
}
.more_box .right-div {
    float: left;
    height: 100%;
    width: 15%;
}
.event_content {
    border-top: 2px solid #00aeef;
    margin: 0 auto;
    width: 600px;
}
.event_box {
    border-bottom: 2px solid #00aeef;
    margin: 10px 0;
    padding-bottom: 10px;
}
.style .style_content {
    margin: 0 auto;
    width: 90%;
}
.style_content p {
    text-transform: uppercase;
}
.style_content h1 {
    cursor: pointer;
}
.style_content .kim {
    cursor: pointer;
}
.style_content .br {
    cursor: pointer;
}
.pink_divider {
    background-image: url("http://cdn.mallmaverick.com/system/site_images/photos/000/003/844/original/line_dotted_pink.png?1410203467");
    background-position: center center;
    background-repeat: no-repeat;
    height: 2px;
    margin: 0 auto;
    max-width: 553px;
    padding: 1em;
}
.flex-direction-nav a {
    background: url("http://cdn.mallmaverick.com/system/site_images/photos/000/003/935/original/bg_direction_nav.png?1410468368") no-repeat scroll 0 0 transparent;
    top: 70%;
}
.concierge-expanded-content {
    display: inline-block;
    height: 100%;
    width: 100%;
}
.concierge_heading {
    color: #ed1c91;
    font-family: ChronicleDeck-Italic;
    font-size: 22px;
    font-style: italic;
    margin-bottom: 0;
}
.concierge-container {
    margin: 0 auto;
    width: 50%;
}
.concierge-slide-container {
    margin: 0 auto;
    max-width: 553px;
}
.customer_quote_author {
    color: #ed1c91;
    font-family: WhitneyHTF-Book;
    font-size: 17px;
    margin-top: 0;
}
.quote_header {
    color: #ed1c91;
    font-family: WhitneyHTF-Book;
    font-size: 24px;
}
.customer_quote {
    color: #ed1c91;
    font-family: ChronicleDeck-Roman;
    font-size: 40px;
    font-style: italic;
    line-height: 40px;
}
.concierge_p {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 10px;
    margin-top: 5px;
}
#slider_2 .flex-control-nav {
    top: -30px;
}
#slider_2 .flex-control-paging li a.flex-active {
    background: none repeat scroll 0 0 #ed1c91;
}
#slider_2 .flex-control-paging li a {
    background: none repeat scroll 0 0 #f48480;
}
#slider_2 {
    height: 250px;
    padding-top: 50px;
}
#slider_1, #slider_2 {
    font-family: WhitneyHTF-Book;
    margin: 0 auto;
    width: 600px;
}
#slider_1 .flex-control-paging, #slider_2 .flex-direction-nav {
    display: none !important;
}
.slider_image {
    float: left;
    margin-right: 20px;
    width: 175px !important;
}
.flex-direction-nav .flex-next {
    margin-right: -30px;
    opacity: 1 !important;
    right: 0 !important;
}
.flex-direction-nav .flex-prev {
    left: 0 !important;
    margin-left: -30px;
    opacity: 1 !important;
}
.flexslider {
    box-shadow: none;
    margin: 0 auto;
    width: 90%;
}
.apt-block {
    height: 120px;
    margin-top: 2.56em !important;
}
.apt-block > div {
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
}
.arrow-pink-lrg {
    background-repeat: no-repeat;
    cursor: pointer;
    height: 59px;
    width: 39px;
}
.arrow-pink-lrg.left-arr {
    background-image: url("http://cdn.mallmaverick.com/system/site_images/photos/000/004/990/original/arrow_left_pink.png?1412106196");
    float: right;
}
.arrow-pink-lrg.right-arr {
    background-image: url("http://cdn.mallmaverick.com/system/site_images/photos/000/004/991/original/arrow_right_pink.png?1412106213");
    float: left;
}
#giftcard .section_content {
    padding-bottom: 0;
}
.giftcard_background {
    background-image: url("http://cdn.mallmaverick.com/system/site_images/photos/000/003/845/original/background_giftcard.jpg?1410203492");
    background-repeat: repeat;
    background-size: 100% 100%;
    height: 100%;
    width: 100%;
}
.giftcard_wrap {
    display: table;
    min-height: 804px;
    width: 100%;
}
.giftcard_content {
    color: white;
    display: table-cell;
    padding-bottom: 4.94em;
    padding-top: 4.94em;
    vertical-align: middle;
}
.giftcard_content h1 {
    line-height: 1;
}
.giftcard_content .giftcard_left {
    color: white;
    min-height: 350px;
    text-align: left;
}
.giftcard_left p {
    font-size: 1.50563em;
}
.giftcard_content .giftcard_right {
    height: 350px;
}
.giftcard_content .giftcard_bottom {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    text-align: left;
    width: 100%;
}
.giftcard_content .row {
    margin: 0;
}
.giftcard_content .giftcard-description {
    margin-bottom: 3.75em;
    margin-top: 3.75em;
}
.giftcard_right img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.giftcard_mobile_message {
    color: white;
    display: none;
}
.giftcard_content .freedom {
    letter-spacing: 1px;
    margin-bottom: 0;
}
.check-balance {
    font-size: 1.67292em;
}
.giftcard_fineprint {
    margin-top: 1.88em;
}
.giftcard_fineprint p {
    font-size: 1.17104em;
}
.kidsfun_list {
    margin: 0 auto;
    width: 51%;
}
.kidsfun_list > ul {
    display: inline-block;
}
.kidsfun_list ul > li {
    font-family: WhitneyHTF-Book;
    text-align: left;
}
#newsletter {
    border-bottom: medium none;
}
#newsletter .section_content {
    padding-bottom: 0;
}
.newsletter_background {
    background-image: url("http://cdn.mallmaverick.com/system/site_images/photos/000/003/846/original/background_newsletter.jpg?1410203519");
    background-size: cover;
    min-height: 356px;
    width: 100%;
}
.form_container {
    height: 100%;
    margin: 0 auto;
    width: 58.9%;
}
#newsletter .postal_code_input {
    padding-left: 0;
}
.newsletter_content p {
    text-align: left;
}
.newsletter_content form {
    margin: 0;
}
.newsletter_wrap {
    display: table;
    height: 100%;
    width: 100%;
}
.newsletter_content {
    display: table-cell;
    padding-bottom: 1em;
    padding-top: 1em;
    vertical-align: middle;
}
.newsletter_content h1 {
    color: white;
    font-family: Steelfish;
    font-size: 3.313em;
}
.newsletter_divider {
    background-image: url("http://cdn.mallmaverick.com/system/site_images/photos/000/003/834/original/line_dotted_white.png?1410202196");
    background-repeat: repeat;
    height: 3px;
    margin: 0 auto;
    width: 100%;
}
.kids_divider {
    background-image: url("/system/site_images/photos/000/003/835/original/line_dotted_gray.png?1410202262");
    background-repeat: repeat;
    height: 3px;
    margin: 0 auto 15px;
    width: 100%;
}
.newsletter_submit h1 {
    cursor: pointer;
    font-family: WhitneyHTF-Medium;
    font-size: 1.5em;
}
.submit-txt {
    font-family: WhitneyHTF-Book;
    font-size: 0.920104em;
}
.footer {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    padding: 0;
}
.footer .section_content {
    padding: 0;
}
.footer .footer_background {
    background-image: url("http://cdn.mallmaverick.com/system/site_images/photos/000/003/847/original/background_footer.jpg?1410203558");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 552px;
    width: 100%;
}
.footer_wrap {
    display: table;
    height: 100%;
    width: 100%;
}
.footer_content {
    display: table-cell;
    padding-bottom: 1em;
    padding-top: 1em;
    vertical-align: middle;
}
.social_icons_list {
    margin-left: 0;
    margin-top: 1.25rem;
    text-align: center;
}
.social_icons_list li {
    display: inline-block;
    list-style: none outside none;
    margin: 0 0.2em;
    overflow: hidden;
    vertical-align: baseline;
}
.social_icons_list li a {
    display: inline-block;
    height: 47px;
    text-decoration: none;
    text-indent: -100px;
    width: 47px;
}
.social_icons_list li a.facebook {
    background: url("http://cdn.mallmaverick.com/system/site_images/photos/000/003/848/original/social_fb.png?1410203587") no-repeat scroll 0 0 / contain rgba(0, 0, 0, 0);
}
.social_icons_list li a.youtube {
    background: url("http://cdn.mallmaverick.com/system/site_images/photos/000/003/849/original/social_youtube.png?1410203604") no-repeat scroll 0 0 / contain rgba(0, 0, 0, 0);
}
.social_icons_list li a.pinterest {
    background: url("http://cdn.mallmaverick.com/system/site_images/photos/000/003/850/original/social_pin.png?1410203640") no-repeat scroll 0 0 / contain rgba(0, 0, 0, 0);
}
.social_icons_list li a.twitter {
    background: url("http://cdn.mallmaverick.com/system/site_images/photos/000/003/851/original/social_twit.png?1410203660") no-repeat scroll 0 0 / contain rgba(0, 0, 0, 0);
}
.social_icons_list li a.instagram {
    background: url("http://cdn.mallmaverick.com/system/site_images/photos/000/003/852/original/social_instagram.png?1410203671") no-repeat scroll 0 0 / contain rgba(0, 0, 0, 0);
}
.footer_links {
    text-align: center;
}
.footer_links li {
    display: inline-block;
    list-style: none outside none;
    margin: 0 1em;
    overflow: hidden;
    vertical-align: baseline;
}
.footer_links li a {
    color: white;
    display: inline-block;
    font-family: WhitneyHTF-Book;
    font-size: 1.33833em;
    text-decoration: none;
}
#alphabetical-list {
    display: none;
}
.map-container {
    border: 1px solid rgb(0, 174, 239);
    height: 407px;
    overflow: hidden;
    width: 100%;
}
.level-info {
    font-family: ChronicleDeck-Roman;
    font-style: italic;
    margin-top: 1.25rem;
}
.level-info.alt {
    color: #00aeef;
    font-style: normal;
    text-align: left;
}
.store-detail-link {
    margin-top: 1.25rem;
    text-align: right;
}
.list-cell.store-detail-cell:hover {
    background-image: url("http://cdn.mallmaverick.com/system/site_images/photos/000/003/951/original/cell_selected_bg.png?1410516985");
}
.list-cell.store-detail-cell {
    background-image: url("http://cdn.mallmaverick.com/system/site_images/photos/000/003/951/original/cell_selected_bg.png?1410516985");
    background-repeat: no-repeat;
    background-size: 100% 80px;
}
.list-cell.store-detail-cell .list-title p {
    color: white;
}
.list-cell.store-detail-cell .list-subtitle p {
    color: white;
}
.blue-title {
    color: rgb(0, 174, 239);
    font-family: WhitneyHTF-Book;
    text-transform: uppercase;
}
.store-description {
    font-family: ChronicleDeck-Roman;
    font-style: italic;
    margin: 0 auto;
    max-width: 487px;
}
.store-description p {
    margin: 0;
    text-align: left;
}
.promo-border {
    border: 1px solid rgb(0, 174, 239);
    margin: 10px auto;
    width: 90%;
}
.promo_detail_image {
    float: left;
    height: 100%;
    margin-right: 20px;
    padding: 10px;
    text-align: left;
}
.promo_detail_div {
    display: inline-table;
    text-align: left;
    width: 75%;
}
.promo_detail_div h3 {
    font-family: WhitneyHTF-Book;
}
.promo_detail_div p {
    font-family: ChronicleDeck-Roman;
    margin-bottom: 5px;
}
.career-info {
    font-family: WhitneyHTF-Book;
    text-align: left;
}
.career-info p {
    margin-bottom: 0;
}
.career-description {
    margin-top: 2rem;
}
.career-description p {
    font-family: WhitneyHTF-Book;
    text-align: left;
}
#slides .slides-container {
    display: none;
}
#slides .scrollable {
    height: 100%;
    left: 0;
    overflow-y: auto;
    position: relative;
    top: 0;
}
#slides .scrollable:after {
    clear: both;
    content: "";
    display: table;
}
.slides-navigation {
    bottom: 50px;
    margin: 0 auto;
    outline: 0 none;
    position: absolute;
    width: 100%;
    z-index: 3;
}
.slides-navigation a {
    background: none repeat scroll 0 0 #fff;
    color: #1d2023;
    display: block;
    font-size: 35px;
    height: 50px;
    line-height: 50px;
    outline: 0 none;
    position: absolute;
    text-align: center;
    width: 56px;
}
.slides-navigation a:hover {
    background: none repeat scroll 0 0 #4cddf3;
    color: #fff;
}
.slides-navigation a.prev {
    border-right: 1px solid #eee;
    box-shadow: -1px 0 0 0 rgba(50, 50, 50, 0.05) inset;
    left: 0;
    padding-right: 5px;
}
.slides-navigation a.next {
    border-left: 1px solid #eee;
    box-shadow: 1px 0 0 0 rgba(50, 50, 50, 0.05) inset;
    padding-left: 5px;
    right: 0;
}
.slides-pagination {
    background: none repeat scroll 0 0 #fff;
    bottom: 0;
    height: 50px;
    letter-spacing: -1e+9px;
    padding-top: 15px;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 2;
}
.slides-pagination a {
    background: linear-gradient(to bottom, #fafafa 0%, #eee 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 15px;
    box-shadow: 0 -1px 0 0 rgba(255, 255, 255, 0.14) inset;
    content: "";
    display: inline-block;
    height: 15px;
    line-height: 50px;
    margin: 4px;
    outline: 0 none;
    overflow: hidden;
    width: 15px;
}
.slides-pagination a.current {
    background: none repeat scroll 0 0 #4cddf3;
    box-shadow: 0 -2px 0 0 rgba(0, 0, 0, 0.3) inset;
}
.fullscreen-image {
    position: fixed !important;
    z-index: -99;
}
.store_map {
    height: 480px;
}
.demo1 {
    height: 100%;
}
@media only screen and (max-width: 40em) {
.store_list_wrap {
    display: none;
}
.store_directory_mobile {
    display: block;
}
.promo_list {
    -moz-column-count: 1;
}
.promo_description {
    display: none;
}
.giftcard_content .giftcard_left {
    display: none;
}
.giftcard_fineprint {
    display: none;
}
.giftcard_mobile_message {
    display: block;
}
.giftcard_content .giftcard_bottom {
    text-align: center;
}
.giftcard_content .giftcard_right {
    height: 250px;
}
.giftcard_content .freedom {
    display: none;
}
.giftcard_wrap {
    min-height: 757px;
}
.kidsfun_list {
    width: 80%;
}
.form_container {
    width: 90%;
}
.newsletter_content h1 {
    font-size: 2.55em;
}
.newsletter_divider {
    width: 40%;
}
.newsletter_submit h1 {
    font-family: Steelfish;
}
.social_icons_list li a {
    height: 45px;
    width: 45px;
}
.table-border {
    border: medium none;
    height: 100%;
    overflow: hidden;
    width: 100%;
}
.generic-list .list-title {
    text-transform: uppercase;
    width: 80%;
}
.generic-list .list-title p:first-child {
    font-size: 1.2em;
    white-space: normal;
}
.generic-list .list-subtitle {
    display: none;
}
.generic-list .list-expand-collapse-icon {
    display: block;
}
.careers .section_content {
    padding-bottom: 0;
}
.generic-list label:hover {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.generic-list input:checked + label, .generic-list input:checked + label:hover {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: black;
}
.generic-list input:checked + label .list-title p {
    color: black;
}
.generic-list input:checked + label .list-subtitle p {
    color: black;
}
.generic-list label:hover .list-title p {
    color: black;
}
.generic-list label:hover .list-subtitle p {
    color: black;
}
.list-title .mobile-subtitle {
    display: block;
}
.segmented-control .option label {
    font-size: 1.25rem;
}
.list-cell.store-detail-cell {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.list-cell.store-detail-cell .list-title p {
    color: black;
    font-family: WhitneyHTF-Book;
    text-transform: uppercase;
}
.list-cell.store-detail-cell .list-subtitle p {
    color: black;
}
.generic-list.directory-detail li {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.generic-list.directory-detail label {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.generic-list.directory-detail label:hover {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.rotated_text > h4 {
    font-size: 0.75rem;
}
.rotated_text {
    margin: 0;
}
.rotated_text .social-links {
    display: none;
}
.footer_content h2 {
    font-size: 1rem;
}
.arrow-pink-lrg.right-arr {
    float: none;
    margin: 0 auto;
}
.arrow-pink-lrg.left-arr {
    float: none;
    margin: 0 auto;
}
.apt-block .columns {
    padding: 0;
}
}
.map {
    border: 1px solid rgb(0, 174, 239);
    margin-top: 30px;
}
.margin_0 {
    margin-bottom: 0 !important;
}
.margin_20 {
    display: block;
    margin-bottom: 20px;
}
.about_subheading {
    font: italic 1.938em ChronicleDeck-Roman;
    margin: 0 auto 40px;
    text-align: center;
}
.contact_subheading {
    font: 1.5em ChronicleDeck-Roman;
    margin: 0 auto;
    text-align: center;
}
.about_content {
    font-family: WhitneyHTF-Book;
    line-height: 1.38;
    margin: 20px auto;
    max-width: 650px;
    min-height: 132px;
    text-align: center;
}
.contact_content {
    font-family: WhitneyHTF-Book;
    line-height: 1.38;
    margin: 0 auto;
    max-width: 650px;
    text-align: center;
}
.pay_it {
    border-bottom: 0 none;
}
.gray_divider {
    background-image: url("http://cdn.mallmaverick.com/system/site_images/photos/000/003/890/original/line_dotted_gray_longer.png?1410376745");
    background-position: center center;
    background-repeat: no-repeat;
    height: 3px;
    margin: 0 auto;
    padding: 1em;
}
.guest_lists {
    display: inline-block;
    margin: 2.94em auto 0;
    width: 80%;
}
.guest-service-info {
    display: inline-block;
}
.guest_lists .columns {
    padding: 0;
}
.guest_lists ul {
    width: 90%;
}
.guest_lists li {
    font-family: WhitneyHTF-Book;
    font-size: 18pt;
    text-align: left;
}
.list_heading {
    font-family: ChronicleDeck-Italic;
    font-size: 18pt;
    margin-bottom: 0;
    text-align: left;
}
.amenities {
    display: inline-block;
    margin-top: 3.75em;
}
.amenity_box {
    border-bottom: 1px solid rgb(0, 174, 239);
    border-top: 1px solid rgb(0, 174, 239);
    height: 540px;
    margin: 0 auto;
    max-width: 385px;
    overflow: hidden;
}
.amenity_cell {
    font-family: WhitneyHTF-Book;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}
.amenity_cell h3 {
    font-family: WhitneyHTF-Book;
    font-size: 1.67292em;
    letter-spacing: 1px;
    margin-top: 1em;
}
.extra_border_top {
    border-top-width: 2px;
}
.extra_border_bottom {
    border-bottom-width: 2px;
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
.category_icon_list li a {
    height: 60px;
    width: 60px;
}
.category_icon_list li a.cat_left_arrow {
    background-size: 20px 38px;
}
.category_icon_list li a.cat_right_arrow {
    background-size: 20px 38px;
}
.kidsfun_list {
    width: 80%;
}
.cat_arrow {
    height: 45px;
    margin-top: 10px;
    position: absolute;
    width: 20px;
}
.category_viewbox {
    width: 455px;
}
.cat_right_arrow {
    right: 135px;
    top: 0;
}
.cat_left_arrow {
    left: 130px;
}
.rotated_text > h4 {
    font-size: 1rem;
}
.category_icon_list .slick-prev {
    height: 60px;
    left: -60px;
    width: 60px;
}
.category_icon_list .slick-next {
    height: 60px;
    right: -60px;
    width: 60px;
}
}
@media only screen and (max-width: 64em) {
.site_menu {
    display: none;
}
.header_wrap.alt {
    margin-top: 0;
}
.top_menu ul li {
    display: block;
    height: 50px;
    text-align: center;
}
.top_menu ul li:first-child {
    display: none;
}
.top_menu ul li:last-child {
    display: none;
}
.top_menu ul li > div:first-child {
    display: none;
}
.fixed {
    top: 0;
}
.site_map_cell.mobile {
    display: block;
}
.top_menu ul li div {
    display: block;
    height: 100%;
    text-align: left;
}
.top_menu ul li div a {
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.top_menu ul li div img {
    display: block;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.mobile_topbar {
    display: block;
}
.site_menu .white_divider {
    display: block;
}
.site_menu .hours_divider {
    background-repeat: repeat-x;
    display: block;
    max-width: 100%;
}
.about_subheading {
    font-size: 25px;
}
.promo_detail_image {
    float: none;
    text-align: center;
}
.promo_detail_div {
    text-align: center;
    width: 95%;
}
#slider_1, #slider_2 {
    height: 100%;
    width: 100%;
}
.event_content {
    width: 90%;
}
.rent-box {
    width: 100%;
}
.kids_desc_boxes {
    width: 100%;
}
.kids_club {
    width: 90%;
}
.kids_desc {
    height: 330px;
}
.upper-links {
    display: none;
}
.top_menu ul li.upper-links-mobile {
    display: block;
}
.top_menu.fixed {
    position: relative;
}
}
@media only screen and (min-width: 64.063em) and (max-width: 120.063em) {
h1 {
    font-size: 4.43em;
}
.style_content .desc {
    font-size: 1.9em;
}
.free-90 {
    font-size: 2.34208em;
}
.event_title, .event_date {
    font-size: 2.50938em;
}
input:-moz-placeholder {
    font-size: 1.5em;
}
input::-moz-placeholder {
    font-size: 1.5em;
}
.footer_content h1 {
    font-size: 3.34583em;
}
.footer_content h2 {
    font-size: 1.67292em;
}
.search_section {
    margin-top: 8em;
}
.promo_box {
    width: 385px;
}
}
