#holiday_page_container{
    font-family: WhitneyHTF-Book;
    text-align:center;
    .main_title{
        text-align: center;
        // font-size: 4em;
        max-width: 700px;
        margin: auto;
        margin-top: 40px;
    }
    #mm_post_content{
        max-width: 750px;
        margin: auto;
        margin-top: 20px;
    }
    .section_title{
        font-family: ChronicleDisplay-Roman
    }
}