#holiday_page_container{
    font-family: WhitneyHTF-Book;
    text-align:center;
    .main_title{
        text-align: center;
        // font-size: 4em;
        max-width: 700px;
        margin: auto;
        margin-top: 40px;
    }
    #mm_post_content{
        max-width: 750px;
        margin: auto;
        margin-top: 20px;
    }
    .subpage_title{
        font-family: ChronicleDisplay-Roman;
        font-size: 3em;
        line-height: normal;
        text-transform: uppercase;
        margin-top: 20px;
    }
    .subpage_content{
        
    }
    .regular_hours{
    }
}